body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.back {
    background-image: url(../images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.card-logo {
    font-size: 3rem;
    font-family: ui-monospace;
}